## ANLP Assignment 1: Sentiment Analysis
### Christopher Hamilton,  a1766121

In [35]:

import json

import pandas as pd
from langdetect import detect as detect_language

### 1. Reading dataset and initial pre-processing

In [16]:
def read_json_to_df(file_name):
    data = []
    with open(file_name) as data_file:
        for line in data_file:
            data.append(json.loads(line))    

    return pd.json_normalize(data)

train_df = read_json_to_df("hotel_reviews_train.json")

In [17]:
train_df.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile,ratings.service,ratings.cleanliness,...,ratings.rooms,author.username,author.num_reviews,author.id,author.location,author.num_cities,author.num_helpful_votes,author.num_type_reviews,ratings.check_in_front_desk,ratings.business_service_(e_g_internet_access)
0,“Horrible experience”,First of all we got there and they didn't have...,September 2012,80138,0,"September 19, 2012",140716137,False,1.0,2.0,...,1.0,Kh3RD,1.0,AB404BB664D653ECF79DE0E0867F6D34,"Las Vegas, Nevada",NaN,NaN,NaN,NaN,NaN
1,“Stay Away”,Found Racist graffiti in the room. Request to ...,June 2011,240151,1,"June 27, 2011",114807323,False,1.0,1.0,...,NaN,TheUglyPhotographer,4.0,BB116F87FE8F9AB356F63853BFD32FFE,"Oceanside, California",3.0,4.0,4.0,NaN,NaN
2,“Great location and service”,Close to Union Square - hotel is a bit of a ma...,October 2010,80793,0,"October 25, 2010",84805430,False,4.0,5.0,...,4.0,Moonstonemoclips,48.0,F3D0CF371B788300E73A1413B2DABB4B,Kirkland,31.0,27.0,32.0,NaN,NaN
3,“I will never go back here again!”,I had a bad vibe about this place from the mom...,June 2012,111418,1,"June 28, 2012",132971117,False,3.0,2.0,...,1.0,JoanellenJ,22.0,BC6BC07F81B768F78B6CE17A18762C11,New York,10.0,9.0,5.0,NaN,NaN
4,“Ripped off our VISA card after departure”,"After we received our ""final"" bill and left th...",January 2012,671150,3,"February 4, 2012",124104157,False,NaN,NaN,...,NaN,Lynnworks,3.0,F7E9D044FA2554FD06A871289312E043,Providence,3.0,7.0,3.0,NaN,NaN

In [43]:
predict_overall_train_df = train_df[["title", "text", "ratings.overall"]]

predict_overall_train_df.head()

,title,text,ratings.overall
0,“Horrible experience”,First of all we got there and they didn't have...,1.0
1,“Stay Away”,Found Racist graffiti in the room. Request to ...,1.0
2,“Great location and service”,Close to Union Square - hotel is a bit of a ma...,4.0
3,“I will never go back here again!”,I had a bad vibe about this place from the mom...,2.0
4,“Ripped off our VISA card after departure”,"After we received our ""final"" bill and left th...",1.0

In [44]:
predict_overall_train_df.loc[:,'title'] = ["".join(filter(lambda c: str.isalnum(c) or str.isspace(c), char)) for char in predict_overall_train_df.title]
predict_overall_train_df.loc[:,'text'] = ["".join(filter(lambda c: str.isalnum(c) or str.isspace(c), char)) for char in predict_overall_train_df.text]

In [45]:
predict_overall_train_df.head()

,title,text,ratings.overall
0,Horrible experience,First of all we got there and they didnt have ...,1.0
1,Stay Away,Found Racist graffiti in the room Request to c...,1.0
2,Great location and service,Close to Union Square hotel is a bit of a maz...,4.0
3,I will never go back here again,I had a bad vibe about this place from the mom...,2.0
4,Ripped off our VISA card after departure,After we received our final bill and left the ...,1.0

In [46]:
def filter_english_reviews(df):
    def is_english(text):
        try:
            return detect_language(text) == "en"
        except:
            return False

    return df[df["title"].apply(is_english) & df["text"].apply(is_english)]

In [47]:
predict_overall_train_df = filter_english_reviews(predict_overall_train_df)

In [48]:
predict_overall_train_df.head()

,title,text,ratings.overall
2,Great location and service,Close to Union Square hotel is a bit of a maz...,4.0
3,I will never go back here again,I had a bad vibe about this place from the mom...,2.0
4,Ripped off our VISA card after departure,After we received our final bill and left the ...,1.0
5,A great location,Steps to Grand Central a very well situated ho...,4.0
6,Its all about the Location,This Hotel is located right in the heart of Sa...,3.0

In [49]:
print(train_df.info())
print(predict_overall_train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 24 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   title                                           24000 non-null  object
 1   text                                            24000 non-null  object
 2   date_stayed                                     23050 non-null  object
 3   offering_id                                     24000 non-null  int64
 4   num_helpful_votes                               24000 non-null  int64
 5   date                                            24000 non-null  object
 6   id                                              24000 non-null  int64
 7   via_mobile                                      24000 non-null  bool
 8   ratings.service                                 21550 non-null  float64
 9   ratings.cleanliness                             21545 non-null  float64
 10  ratings.overall                                 24000 non-null  float64
 11  ratings.value                                   21547 non-null  float64
 12  ratings.location                                18983 non-null  float64
 13  ratings.sleep_quality                           14185 non-null  float64
 14  ratings.rooms                                   20000 non-null  float64
 15  author.username                                 24000 non-null  object
 16  author.num_reviews                              22919 non-null  float64
 17  author.id                                       24000 non-null  object
 18  author.location                                 24000 non-null  object
 19  author.num_cities                               17538 non-null  float64
 20  author.num_helpful_votes                        18864 non-null  float64
 21  author.num_type_reviews                         14629 non-null  float64
 22  ratings.check_in_front_desk                     2909 non-null   float64
 23  ratings.business_service_(e_g_internet_access)  1959 non-null   float64
dtypes: bool(1), float64(13), int64(3), object(7)
memory usage: 4.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 19183 entries, 2 to 23999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            19183 non-null  object
 1   text             19183 non-null  object
 2   ratings.overall  19183 non-null  float64
dtypes: float64(1), object(2)
memory usage: 599.5+ KB
None

### 2. Exploratory Data Analysis (EDA)

### 3. Selection and training Machine Learning models

### 4. Experiment with VADER sentiment lexicon

### 5. Final testing on test set and discussion of results

### 6. Propose a method to predict aspects 

***(COMP SCI 7417 and COMP SCI 7717 only)***

### 7. Reflection on the ***Product*** development.

### 9. References

https://pandas.pydata.org/pandas-docs/version/1.2.0/reference/api/pandas.json_normalize.html

https://www.analyticsvidhya.com/blog/2022/07/step-by-step-exploratory-data-analysis-eda-using-python/

https://pawarbi.github.io/blog/pandas/numpy/data-cleaning/2021/03/05/removing-non-alphanumeric-symbols-characters-from-column-numpy-pandas-dataframe.html

### Appendix