## ANLP Assignment 1: Sentiment Analysis
### Christopher Hamilton,  a1766121

In [12]:

import json

import pandas as pd

### 1. Reading dataset and initial pre-processing

In [15]:
def read_json_to_df(file_name):
    data = []
    with open(file_name) as data_file:
        for line in data_file:
            data.append(json.loads(line))    

    return pd.json_normalize(data)

test_df = read_json_to_df("hotel_reviews_test.json")
train_df = read_json_to_df("hotel_reviews_train.json")

In [17]:
print(test_df.info())
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 24 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   title                                           6000 non-null   object
 1   text                                            6000 non-null   object
 2   date_stayed                                     5756 non-null   object
 3   offering_id                                     6000 non-null   int64
 4   num_helpful_votes                               6000 non-null   int64
 5   date                                            6000 non-null   object
 6   id                                              6000 non-null   int64
 7   via_mobile                                      6000 non-null   bool
 8   ratings.service                                 5351 non-null   float64
 9   ratings.cleanliness                             5358 non-null   float64
 10  ratings.overall                                 6000 non-null   float64
 11  ratings.value                                   5348 non-null   float64
 12  ratings.location                                4683 non-null   float64
 13  ratings.sleep_quality                           3497 non-null   float64
 14  ratings.rooms                                   4931 non-null   float64
 15  author.username                                 6000 non-null   object
 16  author.num_cities                               4393 non-null   float64
 17  author.num_helpful_votes                        4708 non-null   float64
 18  author.num_reviews                              5747 non-null   float64
 19  author.num_type_reviews                         3668 non-null   float64
 20  author.id                                       6000 non-null   object
 21  author.location                                 6000 non-null   object
 22  ratings.check_in_front_desk                     731 non-null    float64
 23  ratings.business_service_(e_g_internet_access)  496 non-null    float64
dtypes: bool(1), float64(13), int64(3), object(7)
memory usage: 1.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 24 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   title                                           24000 non-null  object
 1   text                                            24000 non-null  object
 2   date_stayed                                     23050 non-null  object
 3   offering_id                                     24000 non-null  int64
 4   num_helpful_votes                               24000 non-null  int64
 5   date                                            24000 non-null  object
 6   id                                              24000 non-null  int64
 7   via_mobile                                      24000 non-null  bool
 8   ratings.service                                 21550 non-null  float64
 9   ratings.cleanliness                             21545 non-null  float64
 10  ratings.overall                                 24000 non-null  float64
 11  ratings.value                                   21547 non-null  float64
 12  ratings.location                                18983 non-null  float64
 13  ratings.sleep_quality                           14185 non-null  float64
 14  ratings.rooms                                   20000 non-null  float64
 15  author.username                                 24000 non-null  object
 16  author.num_reviews                              22919 non-null  float64
 17  author.id                                       24000 non-null  object
 18  author.location                                 24000 non-null  object
 19  author.num_cities                               17538 non-null  float64
 20  author.num_helpful_votes                        18864 non-null  float64
 21  author.num_type_reviews                         14629 non-null  float64
 22  ratings.check_in_front_desk                     2909 non-null   float64
 23  ratings.business_service_(e_g_internet_access)  1959 non-null   float64
dtypes: bool(1), float64(13), int64(3), object(7)
memory usage: 4.2+ MB
None

### 2. Exploratory Data Analysis (EDA)

### 3. Selection and training Machine Learning models

### 4. Experiment with VADER sentiment lexicon

### 5. Final testing on test set and discussion of results

### 6. Propose a method to predict aspects 

***(COMP SCI 7417 and COMP SCI 7717 only)***

### 7. Reflection on the ***Product*** development.

### 9. References

https://www.analyticsvidhya.com/blog/2022/07/step-by-step-exploratory-data-analysis-eda-using-python/

### Appendix